.tickers {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;

    &__container {
        
    }

    &__title {
        font-size: 1.875rem;
        font-weight: 600;
        color: #192869;
        margin: 1.25rem 0 1.875rem 0;

        @media (max-width: 930px) {
            text-align: center;
        }

        @media (max-width: 500px) {
            font-size: 1.625rem;
            margin: 1.25rem 0;
        }
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        grid-row-gap: 1.25rem;
    }
}